* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(56, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 810px;
    margin: 20px;
}


/* Header styles */

header {
    width: 100%;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h5 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    align-self: flex-start;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-link {
    transition: 0.3s ease;
}
.nav-link:hover {
    color: black;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-links{
    /*position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    max-height: 22px;
    max-width: 40px;
    width: 100%;
    text-align: center;
    transition: 0.3s;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-left: 5rem;
} 

ul {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    list-style: none;
}

@media (max-width: 768px) {
    .hamburger{
        display: block;  
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-link {
        margin: 16px 0 ;
    }

    .nav-links.active{
        left: 0;
        
    }

}


/* Index styles */

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #FFFFFF;
    min-width: 300px;
    width: 100%;
    min-height: 102px;
    text-align: center;

}
p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    max-width: 573px;
    width: 100%;
    min-height: 68px;
    margin: 20px;
}


/* Blog Styles */

.blog-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.blog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.blog-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #807c74;
    border-radius: 20px;
    margin: 2rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -2px;
    color: #FFFFFF;
    max-width: 265px;
    width: 100%;
    min-height: 102px;
    text-align: center;
}

.chuck-blog-img {
    max-width: 300px;
    max-height: 300px;
}